/* header */
.lt-header {
  background-color:#006699;
  line-height: 45px;
}

.lt-header a {
  display: block;
  line-height: 45px;
  color: #fff;
  padding: 0 10px;
}

.lt-header .mui-title {
  color: #fff;
}



/* footer */
.lt-toolbar {
  background-color: #006699;
}
.lt-toolbar span:first-child {
  display: block;
}

.lt-toolbar span:last-child {
  font-size: 11px;
}

.lt-toolbar .mui-item {
  display: table-cell;
  overflow: hidden;
  width: 1%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
}

.lt-toolbar .mui-item.mui-active {
  color: darkorange;
}


.item-wrap {
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 10px;

}

 .item-wrap:nth-child(odd) {
  padding-right: 3px;
}

.item-wrap:nth-child(even) {
  padding-left: 3px;
}

.item-wrap  .item {
   display: block;
   width: 100%;
   box-shadow: 0 0 2px rgba(0,0,0,0.5);
   background-color: #fff;
   text-align: center;
}


.item-wrap .item img {
  width: 100%;
  vertical-align: middle;
  height: auto;
}

.item-wrap  .item p {
  width: 100%;
  padding:0px 10px;
  box-sizing: border-box;
  height: 36px;

  line-height: 18px;
  /* 建议不要改 */
  letter-spacing: 1px;

  overflow: hidden;
  display:-webkit-box;
  -webkit-box-orient: vertical;
  /* 控制文字显示几行出现省略号 */
  -webkit-line-clamp:2;
}

.item-wrap  .item .price {
  font-size: 12px;
  text-align: center;
}

.item-wrap .item  .price .new {
  color: #ff0000;
}

.item-wrap .item  .price .old {
  color: #999;
  text-decoration: line-through;
  margin-left: 5px;
}

.item-wrap .item  button {
  margin: 10px auto;
  background-color: #006699;
  color: #fff;
}