body {
    background-color: #fff;
}
.mui-content {
    background-color: #fff;
}
.mui-content .mui-input-row{
    padding:10px 10px 0px 10px;
    position: relative;
}
.mui-content div:last-child {
    padding-top:20px;
}
.mui-input-row .mui-input-password~.mui-icon-eye{
    line-height: 38px;
    padding-right: 25px;
}
.mui-content a {
    display: inline-block;
    float: right;
    font-size: 12px;
    height:50px;
    line-height: 50px;
    padding-right: 15px;
}